.service-section {
    .container {
        max-width: 1680px;
    }
}

.service-content-box-items {
     @include breakpoint (max-xl){
       text-align: center;
    }

    .theme-btn {
        margin-top: 50px;

         @include breakpoint (max-xl){
            margin-top: 30px;
        }
    }

    .service-thumb {
        max-width: 323px;
        margin-top: 115px;
        position: relative;
        border-radius: 30px;
        overflow: hidden;

        @include breakpoint (max-xl){
            margin: 0 auto;
              margin-top: 30px;
        }

        img {
            @include imgw;
            border-radius: 30px;
        }

        .text {
            position: absolute;
            bottom: 30px;
            left: 30px;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 30px;
            padding: 12px 18px;
            line-height: 1;
            color: $white;
            font-size: 16px;
            font-weight: 600;
            font-family: $heading-font;
        }
    }
}

.service-thumb-1 {
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 99;
    height: 570px;
    margin-left: -85px;
    margin-right: 20px;

    @include breakpoint (max-xxxl){
        margin-left: 0;
        margin-right: 0;
    }

     @include breakpoint (max-md){
       height: 500px;
    }

     @include breakpoint (max-sm){
       height: 400px;
    }

    img {
        @include imgw;
        border-radius: 20px;
        position: relative;
        display: block;
        object-fit: cover;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;


        &:first-child {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            -webkit-transform: translateX(50%) scaleX(2);
            transform: translate(50%) scaleX(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px)
        }
    }

    &:hover {
        img {
            &:first-child {
                -webkit-transform: translateX(0) scaleX(1);
                transform: translate(0) scaleX(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }

            &:nth-child(2) {
                -webkit-transform: translateX(-50%) scaleX(2);
                transform: translateX(-50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}

.service-faq-items {
    .accordion-box {
        position: relative;

        .block {
            position: relative;
            background-color: transparent;
            margin-bottom: 24px;
            line-height: 1;
            border-radius: 0;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(219, 219, 219, 1);

            .acc-btn {
                position: relative;
                font-size: 24px;
                color: #535353;
                font-weight: 600;
                font-family: $heading-font;
                cursor: pointer;
                transition: all 500ms ease;
                text-transform: capitalize;

                @include breakpoint (max-xxl){
                    padding-right: 40px;
                    line-height: 1.4;
                    font-size: 20px;
                }

                @include breakpoint (max-xxs){
                    font-size: 18px;
                }

                .icon {
                    position: absolute;
                    right: 0;
                    top: 4px;
                    font-size: 16px;
                    transition: all 500ms ease;
                    border-radius: 50%;
                    color: $header-color;
                    text-align: center;

                    &:before{
                        content: "\f067"; // plus icon
                        font-weight: 900;
                    }
                }
            }

            .acc-content {
                position: relative;
                display: none;
                margin-top: 22px;
                margin-left: 53px;

                @include breakpoint (max-sm){
                    margin-left: 20px;
                }

                @include breakpoint (max-xxs){
                    margin-top: 10px;
                }

                .content {
                    position: relative;

                    .text {
                        line-height: 162%;
                        font-size: 16px;
                        font-weight: 400;
                        color: #535353;
                        text-transform: capitalize;

                        @include breakpoint (max-xl){
                            font-size: 14px;
                        }

                        @include breakpoint (max-xxs){
                            font-size: 13px;
                        }
                    }

                    .list {
                        margin-top: 25px;

                        li {
                            font-size: 16px;
                            font-weight: 500;
                            text-transform: capitalize;
                            color: $header-color;
                            font-weight: 500;
                            position: relative;
                            padding-left: 20px;

                            &::before {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                content: "";
                                transform: translateY(-50%);
                                width: 6px;
                                height: 6px;
                                border-radius: 6px;
                                background-color: $theme-color;
                            }

                            &:not(:last-child){
                                margin-bottom: 18px;
                            }
                        }
                    }

                     .link-btn {
                        margin-top: 25px;
                        transition: all 0.4s ease-in-out;
                        font-family: $body-font;
                        font-size: 14px;
                        font-weight: 700;
                        color: $header-color;
                        display: inline-block;

                        i {
                            background-color: $theme-color;
                            color: $white;
                            width: 28px;
                            height: 28px;
                            line-height: 28px;
                            text-align: center;
                            border-radius: 50%;
                            transition: all 0.4s ease-in-out;
                            margin-right: 15px;
                        }

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }

    .accordion-box .block .acc-content.current {
        display: block;
    }

    .accordion-box .block .acc-btn.active .icon:before {
        content: "\f068"; // minus icon
    }

    .accordion-box .block:last-child {
        margin-bottom: 0;
    }

    .active-block {
        background-color: transparent !important;

        .acc-btn {
            color: $header-color !important;
        }

        .text {
            color: rgba(84, 89, 95, 1) !important;
        }

        .icon {
            color: $header-color;
        }

        .icon:before {
            content: "\f068";
            color: $header-color;
        }
    }
}

.service-section-2 {
    position: relative;
    z-index: 9;

    .container {
        max-width: 1730px;
    }

    &::before {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        background: rgba(2, 14, 40, 0.9);
        position: absolute;
        @include transition;
        z-index: -1;
    }

    .service-text {
        text-align: center;
        color: $white;
        margin-top: 60px;
        font-size: 20px;
        font-weight: 600;
        font-family: $heading-font;

        a {
            color: $theme-color-2;
            text-decoration: underline;
        }
    }
}

.service-card-items-2 {
    margin-top: 30px;
    position: relative;
    @include transition;
    overflow: hidden;
    border-radius: 30px;

    @include breakpoint (max-md){
       height: 420px;
    }

    .hover-img {
       @include imgw;
        border-radius: 30px;
        display: block;
        object-fit: cover;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;

        &:first-child{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            -webkit-transform: translateX(50%) scaleX(2);
            transform: translate(50%) scaleX(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px)
        }
    }

    .icon {
        background-color: $header-color;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        top: 30px;
        left: 30px;
        @include transition;
        z-index: 1;

        img {
            width: initial;
            height: initial;
            border-radius: 0;
            @include transition;
            display: inline-block;
        }
    }

    .content-2 {
        background-color: $white;
        border-radius: 20px;
        padding: 20px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        transition: all .4s ease-in-out;
        z-index: 1;

        .title {
            font-size: 24px;
            font-weight: 700;

            @include breakpoint (max-xxxl){
                font-size: 21px;
            }

            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color-2;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color-2 0%, $theme-color-2 100%);
                }
            }
        }

         .theme-btn {
            width: 100%;
            margin-top: 20px;
            background-color: #ECF0F1;
            color: $text-color;
            position: relative;
            @include transition;

            i {
                background-color: $theme-color-2;
                color: $white;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                right: 5px;
                top: 5px;
                @include transition;
            }

            &:hover {
                color: $white;

                i {
                    background-color: $white;
                    color: $theme-color-2;
                }
            }
        }
    }

    .content {
        background-color: $white;
        border-radius: 20px;
        padding: 20px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-in-out;
        z-index: 111;

        .title {
            font-size: 24px;
            font-weight: 700;

             @include breakpoint (max-xxxl){
                font-size: 21px;
            }

            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color-2;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color-2 0%, $theme-color-2 100%);
                }
            }
        }

        p {
            max-width: 350px;
            font-size: 14px;
            margin-top: 5px;
            @include transition;
            @include transition;
        }

        .theme-btn {
            width: 100%;
            margin-top: 20px;
            background-color: #ECF0F1;
            color: $text-color;
            position: relative;
            @include transition;

            i {
                background-color: $theme-color-2;
                color: $white;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                right: 5px;
                top: 5px;
                @include transition;
            }

            &:hover {
                color: $white;

                i {
                    background-color: $white;
                    color: $theme-color-2;
                }
            }
        }
    }

    &:hover {
        .icon {
            background-color: $theme-color-2;

            img {
                filter: brightness(0) invert(1);
                transform: scaleX(-1) !important;
            }
        }

        .content {
            opacity: 1;
            visibility: visible;

            p {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .content-2 {
            opacity: 0;
            visibility: hidden;
            transition: all .4s ease-in-out;
        }

        .hover-img {
            &:first-child {
                -webkit-transform: translateX(0) scaleX(1);
                transform: translate(0) scaleX(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0)
            }

            &:nth-child(2){
                -webkit-transform: translateX(-50%) scaleX(2);
                transform: translateX(-50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        } 
    }
}

.service-section-3 {
    position: relative;
    z-index: 9;

    .container {
        max-width: 1642px;
    }

    .service-left-shape {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .service-right-shape {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
}

.service-card-items-3 {
    background-color: $white;
    border-radius: 30px;
    padding: 30px;
    @include transition;
    margin-top: 30px;

    @include breakpoint (max-sm){
        padding: 24px;
    }

    .icon-area {
        @include flex;
        justify-content: space-between;

        .icon {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 10px;
            background-color: $header-color;
            @include transition;

            img {
                width: initial;
                height: initial;
                border-radius: 0;
                @include transition;
                display: inline-block;
            }
        }

        .link-btn {
            margin-top: 25px;
            display: inline-block;
            @include transition;

            i {
                background-color: #ECF0F1;
                color: $header-color;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                transition: all 0.4s ease-in-out;
                @include transition;
            }
        }
    }

    .title-2 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 50px;
        @include transition;

        @include breakpoint (max-xxl){
            font-size: 21px;
            margin-top: 30px;
        }
    }

    p {
        margin-top: 15px;
        border-bottom: 1px solid #D8DDE1;
        padding-bottom: 20px;
        @include transition;
    }

    .service-img {
        margin-top: 30px;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        z-index: 99;

        img {
            @include imgw;
            border-radius: 10px;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;


            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    &:hover {
        background-color: $header-color;

        .icon-area {
            .icon {
                background-color: $theme-color-3;
            }

            .link-btn {
                i {
                    background-color: $theme-color-3;
                    color: $white;
                }
            }
        }

        .title-2 {
            a {
                color: $white;
            }
        }

        p {
            color: rgba(236, 240, 241, 0.5);
        }

        .service-img {
            img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0);
                }

                &:nth-child(2) {
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}

.service-details-wrapper {
    .service-details-content {
        .title {
            font-size: 30px;
            font-weight: 600;
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: #D8DDE1;
            margin-top: 20px;
            margin-bottom: 20px;
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 19%;
                height: 1px;
                content: "";
                background: $theme-color-2;
            }
        }

        .service-list {
            margin-top: 20px;

            li {
                font-size: 16px;
                font-weight: 400;
                color: $header-color;

                img {
                    margin-right: 6px;
                }

                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }

        .service-details-thumb {
            margin-top: 20px;
            margin-bottom: 40px;

            img {
                @include imgw;
                border-radius: 30px;
            }
        }

        .title-2 {
            font-size: 30px;
            font-weight: 600;
        }

        .global-list {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-top: 30px;

             @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            ul {
                li {
                    font-size: 20px;
                    font-weight: 600;
                    font-family: $heading-font;
                    color: $header-color;

                    img {
                        margin-right: 6px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .service-details-thumb-2 {
            margin-top: 40px;

            img {
                @include imgw;
                border-radius: 30px;
            }
        }

        .title-3 {
            font-size: 30px;
            font-weight: 600;
            margin-top: 35px;
        }

        .air-flight-area {
            @include flex;
            justify-content: space-between;
            margin-top: 30px;
            border-bottom: 1px solid #D8DDE1;
            padding-bottom: 50px;

             @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            &.style-2 {
                border-bottom: none;
                padding-bottom: 0px;
                position: relative;
                z-index: 9;

                &::before {
                    content: "";
                    position: absolute;
                    top: -34%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 1px;
                    height: 315px;
                    border: 1px solid #D8DDE1;
                    z-index: -1;
                    transition: height 0.5s ease;

                    @include breakpoint (max-xl){
                        display: none;
                    }
                }
            }

            .air-flight-items {
               display: flex;
               gap: 20px;

               @include breakpoint (max-xl){
                    flex-wrap: wrap;
               }

                .content {
                    .title-41 {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        margin-top: 10px;
                        max-width: 278px;
                    }
                }
            }
        }

        .title-4 {
            font-size: 30px;
            font-weight: 600;
            margin-top: 40px;
        }

        .faq-items {
            margin-left: 0;
            padding: 0;
            background: transparent;
            margin-top: 40px;

            .text {
                max-width: 470px;
                text-transform: capitalize;
            }
        }
    }

    .service-left-sidebar-area {
        margin-right: 20px;

        @include breakpoint (max-xxl){
            margin-right: 0;
        }


         .title {
            font-size: 24px;
            font-weight: 600;
            font-family: $heading-font;
            display: inline-block;
            color: $header-color;
        }

        ul {
             border-top: 1px solid #D8DDE1;
             padding-top: 12px;
             margin-top: 35px;

            li {
                 border-bottom: 1px solid #D8DDE1;
                 padding-bottom: 12px;
                &:not(:last-child){
                   margin-bottom: 12px;
                }

                a {
                    color: #020E28;

                    &:hover {
                        color: $theme-color-2;
                    }
                }
            }
        }

        .pdf-box-items {
            border-radius: 20px;
            margin-top: 40px;

            .content {
                padding: 30px 30px;
                border-bottom: 1px solid rgba(255, 255, 255, 1);

                .title {
                    font-size: 30px;
                    color: $white;
                    line-height: 133%;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    color: $white;
                    font-size: 15px;
                }
            }

            .contact-btn {
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                color: $theme-color-2;
                padding: 25px 30px;

                i {
                    margin-left: 5px;
                }

                &:hover {
                    color: $white;
                }
            }
        }

        .details-contact-bg {
            padding: 40px 30px;
            border-radius: 30px;
            margin-top: 40px;

            .side-title {
                font-size: 24px;
                font-weight: 600;
                font-family: $heading-font;
                display: inline-block;
                color: $header-color;
                line-height: 130%;
            }

            .s-line {
                display: inline-block;
                height: 1px;
                width: 100%;
                background: #D8DDE1;
                position: relative;
                margin-top: 20px;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    height: 1px;
                    width: 32%;
                    background: $theme-color-2;
                }
            }

            .contact-dec {
                margin-top: 20px;

                p {
                    color: $header-color;
                    margin-bottom: 15px;
                }

                a {
                    font-size: 24px;
                    font-weight: 600;
                    font-family: $heading-font;
                    color: $header-color;
                    display: block;
                }
            }
        }
    }
}

.service-section-inss {
    .container {
        max-width: 1640px;
    }
}

.service-card-items-in {
    margin-top: 30px;
    background-color: #ECF0F1;
    border-radius: 30px;
    padding: 40px;
    position: relative;
    z-index: 9;
    @include transition;

    @include breakpoint (max-xxl){
        padding: 30px;
    }

    .service-shape {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .service-hover-img {
        @include transition;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;


        img {
            @include imgw;
            border-radius: 30px;
            @include transition;
            object-fit: cover;
        }
    }

    .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: $header-color;
        border-radius: 10px;
        position: relative;
        z-index: 11;
        @include transition;

        img {
            @include transition;
            display: inline-block;
        }
    }

    .content {
        margin-top: 150px;
        @include transition;

        @include breakpoint (max-xxl){
           margin-top: 100px;
        }

        .title-2 {
            font-size: 24px;
            font-weight: 700;
            @include transition;

            @include breakpoint (max-xxxl){
                font-size: 22px;
            }

            @include breakpoint (max-xxl){
                font-size: 20px;
            }
        }

        p {
            margin-top: 10px;
            @include transition;
        }

        .link-btn {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: $header-color;
            color: $white;
            display: inline-block;
            border-radius: 50%;
            margin-top: 20px;
            @include transition;
        }
    }

    &:hover {
        .icon {
            background-color: $theme-color-2;

            img {
                transform: scaleX(-1) !important;
                filter: brightness(0) invert(1);
            }
        }

        .service-hover-img {
            opacity: 1;
            visibility: visible;
        }

        .content {
            .title-2 {
                color: $white;
            }

            p {
                color: $white;
            }

            .link-btn {
                background-color: $theme-color-2;
            }
        }
    }
}